# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Django logs
*.log

# Database files
db.sqlite3

# Django secret key
.env

# Migrations cache
*/migrations/__pycache__/

# IDE/editor settings
.vscode/
.idea/
*.iml
db.sqlite3

.vercel
